# Completá con tus credenciales reales.
# cp .env.example .env
# Luego puede ser borrado.

# Firebase Web Client Configuration
FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_APP_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_AUTH_DOMAIN=
FIREBASE_MESSAGING_SENDER_ID=

# Firebase Data Connect & Cloud SQL
DATA_CONNECT_SERVICE=
DATA_CONNECT_LOCATION=
DATA_CONNECT_CONNECTOR=
CLOUD_SQL_INSTANCE=
CLOUD_SQL_DATABASE=

# Configuración de Pruebas / Semilla
DEFAULT_USER_PASSWORD=
